# Default ignored files
/../../CCCHK '15 J5 - No friends in the same group./.idea/shelf/
/../../CCCHK '15 J5 - No friends in the same group./.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\allen\Documents\GitHub\Code\Problems\CCC\CCCHK '15 J5 - No friends in the same group.\.idea/dataSources/
/../../CCCHK '15 J5 - No friends in the same group./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../CCCHK '15 J5 - No friends in the same group./.idea/httpRequests/
