# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\allen\Documents\GitHub\Code\Problems\USACO\2019\December\Platinum\USACO 2019 December Platinum P2 - Bessie's Snow Cow\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
