# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\allen\Documents\GitHub\Code\Problems\USACO\2021\February\Bronze\USACO 2021 February Bronze P3 - Clockwise Fence\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
