# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\allen\Documents\GitHub\Code\Problems\WAC\Wesley's Anger Contest 6 Problem 3 (new)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
