# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\allen\Documents\GitHub\Code\Problems\USACO\2020\December\Platinum\USACO 2020 December Platinum Problem 2 - Spaceship\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
