# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\allen\Documents\GitHub\Code\Problems\USACO\2020\December\Gold\USACO 2020 December Gold P2 - Bovine Genetics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
