# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\allen\Documents\GitHub\Code\Problems\COCI\COCI '16 Contest 5 #4 Ronald\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
