# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\allen\Documents\GitHub\Code\Problems\USACO\2019\February\Silver\USACO 2019 February Silver P1 - Sleepy Cow Herding\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
